#viewform-container {
	margin: 0 auto;
	width: 80%;
}

#viewform {
	display: inline;
}

/* div surrounding each input */
#viewform div {
	width: 100%;
}

#form-header {
	border-radius: 10px 10px 0 0;
	text-align: center;
	background-color: #9c8ad3;
	padding: 10px;
}

#form-body {
	border: 2px solid #ccbbff;
	border-top: none;
	border-radius: 0 5px 5px 0;
	padding: 20px;
	padding-bottom: 10px;
}

#form-body input {
	margin: 5pt 0;
}

#form-body input[type=submit] {
	border: none;
	border-radius: 5px;
	font-size: larger;
	padding: 5px;
	width: 100%;
}