.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

.table-container {
  padding: 20px;
}

.table-container div {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}
  
th, td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}
  
th {
  background-color: #9c8ad3;
}
  
td {
  background-color: #cbc3e3;
}
  
form {
  display: flex;
  gap: 5px;
}

#changeNameForm {
  justify-content: center;
}

#changeNameForm input[type="text"] {
  text-align: center;
}

form td:last-child div {
  display: flex;
  justify-content: space-evenly;
}
  
form * {
  font-size: 25px;
}
.menu {
  width: 200px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}
.menu-item {
cursor: pointer;
padding: 5px;
height: 28px;
border-bottom: 1px solid rgb(187, 187, 187);
}
.menu-item:hover {
  color: #2980b9;
}

.order {
  width: 10%;
}

.order div {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.order div input {
  width: 100%;
}

tr div {
  display: flex;
}

#table-footer {
  text-align: right;
}
#table-footer button {
  font-size: 15pt;
  padding: 10pt;
}
#addPageButton {
  background-color: #cbc3e3;
  border: 1px solid white;
  width: 100%;
}
#addPageButton:hover {
  background-color: #9c8ad3;
}