@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
    font-family: 'Sora', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Button pointer cursor */
button:hover, input[type="submit"]:hover {
	cursor: pointer;
}

/* Used by Table and FormView */
.purple_button {
	border: 1px solid black;
	padding: 10px;
	margin: 10px 5px;
	background-color: #cbcbe3;
}
.purple_button:hover {
	cursor: pointer;
}
#activeFormButton {
	background-color: #bbbbdd;
}

/* Disable text selection */
nav, th, .form-header, .form-body, .form-footer, .purple_button, .input_label {
	user-select: none;
}

/* CSS for mobile devices */
@media only screen and (max-width: 400px) {
}